.circle {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  border: 1px solid rgb(2, 2, 102);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background: white;
  cursor: url("./assets/img/pouring_water.png"), default;
  box-shadow: 0 0 15px rgb(2, 2, 102);
}

.circlewrapper {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.circle p {
  font-family: "Bubblegum Sans", cursive;
  font-size: 2rem;
  color: rgb(34, 46, 70);
}

.active {
  box-shadow: 0 0 25px yellow;
  border: 5px solid yellow;
  background-image: url("assets/img/plant_two.svg");
  background-size: 95%;
  background-repeat: no-repeat;
}

.circle:active {
  box-shadow: inset 0 0 40px rgb(235, 216, 6);
}
